.vector{
  display:flex;
}

p{
 margin:0 40 0 0;
 font-size: 12px;
 font-weight:100 ;
 color:green;
}

.navbar{
  font-size:10px;
  display:flex;
  margin:20px 20px;

}
.active{
  color:green;
  margin:10 10;
}
bars{
  margin:20 20;
}